<div class="row" >
  <div class="col-md-1"></div>
<div class="col-md-10 ">
   <div class="card text-body" *ngFor="let campaign of campaignsList | paginate: { itemsPerPage: 1, currentPage: p };"
   style="border : 1px solid black">
      <div class="card-header">
       <div class="row">
        <div class="col-md-6" style="font-weight: bold">
          <span class="text-secondary">Name of Campaign :</span> {{campaign.nameOfCampaign}}
        </div>
        <div class="col-md-3" style="font-weight: bold">
          <span class="text-secondary">Start Date :</span> {{campaign.startDate.day}}/{{campaign.startDate.month}}/{{campaign.startDate.year}}
        </div>
        <div class="col-md-3" style="font-weight: bold">
          <span class="text-secondary">End Date :</span> {{campaign.endDate.day}}/{{campaign.endDate.month}}/{{campaign.endDate.year}}
         </div>
       </div>
      </div>
    <div class="card-body" style="height:55vh">
      <br>
      <div class="row">
        <div class="col-md-4">
          Diseases : 
        </div>
        <div class="col-md-8">
          {{campaign.disease1 | uppercase}} <span style="margin:10px"></span> {{campaign.disease2 | uppercase}}<span style="margin:10px"></span>  {{campaign.disease3 | uppercase}}
        </div>
      </div><hr><br>

      <div class="row">
        <div class="col-md-4">
          Location : 
        </div>
        <div class="col-md-8">
          {{campaign.location | uppercase}}
        </div>
      </div><hr><br>

      <div class="row">
        <div class="col-md-4">
          Description :
        </div>
        <div class="col-md-8">
          {{campaign.description}}
        </div>
      </div>
    </div> 
    <div class="card-footer" style="font-weight: bold">
      <div class="row">
        <div class="col-md-6 offset-md-3"> 
          <a class="btn btn-success btn-block" [routerLink]="['/doctor/campaignPatients/'+campaign._id]">
            Select</a>
        </div>
      </div>
    </div>
   </div>
   <pagination-controls (pageChange)="p = $event"></pagination-controls> 
</div>
<div class="col-md-1"></div> 
  </div>