
<div class="container">
      <div class="row">
                  <div class="col-md-6 offset-md-3">
                              <form #frm="ngForm" (ngSubmit)="onSubmit(frm)">
                                <div class="row">
                                    <div class="col-md-8">
                                        <select class="custom-select d-block w-100" name="taluka" 
                                        required ngModel>
                                       <option value="bhubaneswar" selected >BHUBANESWAR</option>
                                       <option value="tangi">TANGI</option>
                                       <option value="banapur">BANAPUR</option>
                                       <option value="begunia">BEGUNIA</option>
                                       <option value="bolagarh">BOLAGARH</option>
                                       <option value="jatani">JATANI</option>
                                       </select>
                                      </div>
    
                                  <div class="col-md-4">
                                    <button type="submit" [disabled]=frm.invalid
                                    class="btn btn-success btn-block">Submit</button>
                                  </div>
                                </div>
                              </form>
                            
                            </div>
      </div>
      <br><hr>
      <div class="row" *ngIf='toggle'>
          <div class="col-md-4 offset-md-4">
              <img src='../../../assets/heart (1).png' style="width:100%;height:100%">
          </div>
     </div>
     <div class="row" *ngIf='toggle'>
        <div class="col-md-6 offset-md-3">
            <h3 style="color:green">Healthy citizens are the greatest asset any country can have</h3>
        </div>
     </div>

      <div *ngIf='chart'>
          <canvas id="canvas" style="margin-bottom:3rem">{{chart}}</canvas>
      </div>
     
</div>