<div class="container">
        <div class="row">
          <nav id="sidebar" class="navbar-dark bg-dark">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>
          
            <div class="sidebar-header bg-dark">
                <h3>USER</h3>
            </div>
      
            <ul class="list-unstyled components">
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>SIDEBAR OPTIONS</span>
                <a class="d-flex align-items-center text-muted" >
                  <span data-feather="plus-circle"></span>
                </a>
              </h6>
          <ul class="nav flex-column ">
            <li class="nav-item " >
              <a   class="nav-link bg-dark" routerLink='/user'>
                <span data-feather="home"></span>
                Home<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item " >
                <a   class="nav-link bg-dark" routerLink='/user/diseasesInfo' >
                  <span data-feather="home"></span>
                  Diseases Information<span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item " >
                <a   class="nav-link bg-dark" routerLink='/user/map' >
                  <span data-feather="home"></span>
                  Map<span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item " >
                <a   class="nav-link bg-dark" routerLink='/user/graph' >
                  <span data-feather="home"></span>
                  Graph<span class="sr-only">(current)</span>
                </a>
              </li>
          </ul>
         </ul>   
          </nav>
      </div>
      </div>
      <main role="main" class="col-md-12  container-fluid" style="margin-top:2rem">
            <router-outlet></router-outlet>
      </main>