
  <div class="row">
    <div class="col-md-8 offset-md-2">
       <div class="row">
        <div class="col-md-5">
            <div class="card"  >
              <br>
              <a href="https://m.youtube.com/watch?v=eqe9j6i8p14">
                  <img class="card-img-top" src="../../../assets/youtube (1).png" alt="Card image" style="width:30%;margin-left: 100px"  >
              </a>
                <hr>
                <div class="card-body">
                  <h6 class="card-title">Disease : Heart Disease </h6>
                  <p>Symptoms :</p>
                  <p>Pain In the chest</p>
                  <p>Shortness of breath.</p>
                </div>
              </div>
        </div>
        <div class="col-md-2"></div>
        <div  class="col-md-5">
            <div class="card"  >
                <br>
                <a href="https://m.youtube.com/watch?v=TYZ35X8K2kU">
                    <img class="card-img-top" src="../../../assets/youtube (1).png" alt="Card image" style="width:30%;margin-left: 100px"  >
                </a>                <hr>
                <div class="card-body"  style="color: black;padding: 1.25rem">
                  <h6 class="card-title">Disease : Cancer </h6>
                  <p>Symptoms :</p>
                  <p>White patches inside the mouth</p>
                  <p>Unusual bleeding or discharge</p>
                </div>
              </div>
        </div>
       </div>
    </div>
  </div>
  <br><hr><br>
  <div class="row">
      <div class="col-md-8 offset-md-2">
         <div class="row">
          <div class="col-md-5">
              <div class="card"  >
                <br>
                <a href="https://m.youtube.com/watch?v=bcOD_w531dI">
                    <img class="card-img-top" src="../../../assets/youtube (1).png" alt="Card image" style="width:30%;margin-left: 100px"  >
                </a>
                  <hr>
                  <div class="card-body">
                    <h6 class="card-title">Disease : Asthma </h6>
                    <p>Symptoms :</p>
                    <p>Coughing, especially at night</p>
                    <p>Chest tightness</p>
                  </div>
                </div>
          </div>
          <div class="col-md-2"></div>
          <div  class="col-md-5">
              <div class="card"  >
                  <br>
                  <a href="https://m.youtube.com/watch?v=Gr3NB0XS7yI">
                      <img class="card-img-top" src="../../../assets/youtube (1).png" alt="Card image" style="width:30%;margin-left: 100px"  >
                  </a>                <hr>
                  <div class="card-body"  style="color: black;padding: 1.25rem">
                    <h6 class="card-title">Disease : Diabetes </h6>
                    <p>Symptoms :</p>
                    <p>Hunger and fatigue</p>
                    <p>Dry mouth and itchy skin</p>
                  </div>
                </div>
          </div>
         </div>
      </div>
    </div>

  